@import url("./colors.css");

.display-block {
  display: block;
}

.display-inline {
  display: inline;
}

.display-inline-block {
  display: inline-block;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.sticky {
  position: sticky;
}

.fixed {
  position: fixed;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.width-100vw {
  width: 100vw;
}

.width-75vw {
  width: 75vw;
}

.width-50vw {
  width: 50vw;
}

.width-25vw {
  width: 25vw;
}

.width-100 {
  width: 100%;
}

.width-75 {
  width: 75%;
}

.width-50 {
  width: 50%;
}

.width-25 {
  width: 25%;
}

.height-100vh {
  height: 100vh;
}

.height-75vh {
  height: 75vh;
}

.height-50vh {
  height: 50vh;
}

.height-25vh {
  height: 25vh;
}

.height-100 {
  height: 100%;
}

.height-75 {
  height: 75%;
}

.height-50 {
  height: 50%;
}

.height-25 {
  height: 25%;
}

.height-750px {
  height: 750px;
}

.height-500px {
  height: 500px;
}

.height-250px {
  height: 250px;
}

.height-100px {
  height: 100px;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.bottom-0 {
  bottom: 0;
}

.right-0 {
  right: 0
}